.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.msg-container {
    padding: 20px 0;
    width: 200px;

}
.msg-container .username {
    font-size: 16px;
    font-weight: bold;
    margin-right: 20px;
    color: blue;
}
.msg-container .reply {
    border: none;
    outline: none;
    padding: 5px 10px;
    color: #fff;
    background-color: blue;
}